body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #d4ecfa;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header {
  text-align: center;
  margin-bottom: 30px;
}
.logo {
  width: 4rem;
  margin-bottom: 20px;
}
.title {
  color: #003366;
  font-size: 24px;
  margin-bottom: 20px;
}
.payment-info {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0;
}
.important {
  color: #dc3545;
  font-weight: bold;
}
.footer {
  text-align: center;
  margin-top: 30px;
  color: #666;
}
.T {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  padding: 15px 20rem;
  border: none;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  a {
    font-size: 20px;
    padding: 10px 95px;
  }
}
a:hover {
  background: linear-gradient(135deg, #2980b9, #1e4686);
}
